header {
  background: white;
}

body {
  margin: 0;
  background: black;
  font-family: gill sans, sans-serif;
}

h2 {
  display: flex;
  font-size:30px;
  background: darkred;
  width: 68%;
  color: white;
  padding: 10px 20px;
  background-size: auto;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: white;
  font-size: 28px;
  text-align: center;
  background: black;

}

p {
  font-size: 20px;
  color: black;
  padding-left: 35px;
  padding-right: 35px;
  text-align: justify;
  width: 90%;
}

a {
  color: darkred;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center {
  display: block;
}

.centertext {
  color: white;
  text-align: center;
}

#innav {
  margin-top: 6%;
  width: 30%;
  display: flex;
  float: left;
  list-style-type: none;
}

.titleimg ul li{
  font-size: 30px;
  margin: 3%;
}

.centerlist {
  border-radius: 10px;
  font-size: 20px;
  list-style: inside;
  background: white;
  padding: 10px 25px 10px 0px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#centertracklist {
  text-align: center;
  padding: 10px;
}

.imgfooter {
  text-align: center;
  padding: 0px;
  font-size: 22px;
}
hr {
  border-color: darkred;
  border-style: solid;
  border-width: 10px;
}

.textbg {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: white;
}

.tracktitle {
  width: 13%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleimg img{
  display: block;
  padding: 3%;
  float: left;
}

.titleimg a {
  color: white;
}

.reviewgif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: darkred;
  border-width: 10px;
}

.reviewgifdiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

audio {
  width: 30%;
  display: block;
  margin: 30px auto auto auto;
}
